.favorites .track-item.is-order {
	display: block;
}

.favorites .track-item {
	display: none;
}

@media print{
  .sidebar, .footer, .nav-bar, .no-print { 
    display: none;
  }

  .print-heading {
    display: block;
  }
}