.purchase-order .order-item.is-order {
	display: block;
  position: relative;
}

.purchase-order .order-item {
	display: none;
}

.print-heading {
  display: block;
}

@media print{
    @page {
        margin-top: 1in;
    }

  .sidebar, .footer, .nav-bar, .no-print { 
    display: none;
  }

  .print-heading {
    display: block;
  }

  .order-list-container {
    margin: 0;
    padding: 0;
  }
}