:root {
	--cover-width: 240px;
	--cover-height: 316px;
	--card-deg: 10deg;
}

.w-commerce-commercecartcontainerwrapper--cartType-modal {
	height: 100dvh;
	z-index: 1000;
}

.pointer {
	pointer-events: none;
}

.range-slider-track {
	touch-action: none;
}



#DPM25001, #DPM25003, #DPM25005 {
	transform: rotate(var(--card-deg));
	animation: rotate linear;
	animation-timeline: view();
}

#DPM25002, #DPM25004, #DPM25006 {
	transform: rotate(calc(var(--card-deg) * -1));
	animation: rotate-reverse linear;
	animation-timeline: view();
}

@keyframes rotate {
	from {
		transform: rotate(var(--card-deg));
	}
	to {
		transform: rotate(calc(var(--card-deg) * -1));
	}
}

@keyframes rotate-reverse {
	from {
		transform: rotate(calc(var(--card-deg) * -1));
	}
	to {
		transform: rotate(var(--card-deg));
	}
}