:root {
	--cover-width: 240px;
	--cover-height: 316px;
	--card-deg: 10deg;
}

.w-commerce-commercecartcontainerwrapper--cartType-modal {
	height: 100dvh;
	z-index: 1000;
}

.pointer {
	pointer-events: none;
}

.range-slider-track {
	touch-action: none;
}

.golden-text {
	text-shadow: 0px 2px 5px rgba(148, 119, 67, 0.84);
}

#DPM25001, #DPM25003, #DPM25005 {
	rotate: var(--card-deg);
}

#DPM25002, #DPM25004, #DPM25006 {
	rotate: calc(var(--card-deg) * -1);
}